.main {
  display: grid;
  grid-auto-columns: auto;
  justify-content: center;
}

.heading2Xl {
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
  text-align: center;
}

.headingXl {
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: -0.05rem;
  /* margin: 1rem 0; */
  text-align: center;
}

.headingLg {
  margin: 1rem 0;
  text-align: center;
}

.headingMd {
  line-height: 1.5;
  text-align: center;
}

.logo {
  border-radius: 10%;
}

.colorInherit {
  color: inherit;
}

.padding1px {
  padding-top: 1px;
}

.list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style: none;
  padding: 0;
  place-items: center;
  gap: 1rem;
  background: rgba(100, 100, 100, 0.3);
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.stackList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style: none;
  padding: 0;
  place-items: center;
  gap: 1rem;
  background: linear-gradient(
    -45deg,
    rgba(7, 24, 240, 0.3),
    rgba(231, 60, 126, 0.3),
    rgba(0, 3, 35, 0.3)
  );
  /* background: linear-gradient(-45deg, #0718f0cc, #e73c7eb3, #000323); */
  animation: gradient 35s ease infinite;
  padding: 2rem 0rem;
  border-radius: 0.35rem;
  background-size: 400% 400%;
  text-align: center;
}

.listItem {
  /* margin: 0 0 1.25rem; */
  font-size: 1.15rem;
}

.stackList li {
  padding: 1rem;
}

.lightText {
  color: #666;
}

.footer {
  position: sticky;
  bottom: 0.5rem;
}

.navBar {
  display: flex;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: fixed;
  top: 0;
  padding: 1% 5%;
  place-self: center;
  gap: 6.5rem;
  background: rgba(0, 0, 0, 0.9);

  /* background-size: contain; */
  z-index: 1;
}

.subHead {
  display: grid;
  place-self: center;
  margin-bottom: 0.75rem;
}

.aboutPara {
  display: grid;
  place-self: center;
  width: 85%;
}

.aboutParaTop {
  display: grid;

  place-items: center;
}

.homeTop {
  /* display: grid;
  grid-template-columns: 1fr 1fr;
  place-content: center;
  place-items: center;
  text-align: center;
  justify-content: space-evenly;
  justify-items: stretch;
  align-items: center;
  place-items: center;
  gap: 0;
  width: 75%;
  place-self: center;
  position: relative;
  margin: 3%; */
}

.homeTop img {
  float: right;
}

.aboutPara p {
  text-indent: 4rem;
  margin: 1.5rem 0 1.25rem 0;
}

.bigText {
  font-size: 1.25rem;
  margin: 0;
}

@media (max-width: 700px) {
  .navBar {
    position: fixed;
    top: 0rem;
    width: 100%;
    gap: 0.35em;
    font-size: 0.9rem;
  }
  /* .homeTop {
    grid-template-columns: 3fr 1fr;
    gap: 5%;
  } */
  /* .logo {
    height: 100%;
    width: auto;
  } */
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
